# Virtual environment
venv/

# Python bytecode
**/__pycache__/
*.py[cod]

# VSCode settings
.vscode/

# Environment variables
*.env
.env

# Data files
data/raw/

# Logs
backend/logs/
backend/extraction/


